$white-color: #fff;
$black-color: #000;
$text-color: #333;
$primary-color: rgb(238, 75, 43);
$border-color: #dbdbdb;
$growth-from: 0.7;
$growth-to: 1;
$navbar-height: 34px;
$header-height: 120px;
$header-with-search-height: calc(($header-height) - ($navbar-height));
